<!DOCTYPE html>
<html lang="en">
  <head>
    <title>E-lection</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/govstrap.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/govstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <nav class="navbar">
      <div class="container navbar-wrapper">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://www.gov.uk" title="Go to the GOV.UK hom epage" id="logo"> GOV.UK </a>
        </div>
      </div>
    </nav>


    <section class="container-fluid hero-banner">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <h1>E-lection!</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid banner">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <div class="banner-message">
              <h2>This is still beta <span class="phase-tag-beta">BETA</span></h2>
              <strong> Blockchain coming soon.</strong>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
